<header>
    <nav>
        <ul>
            <li><a href="http://localhost:3000">Home</a></li>
            <li><a href="http://localhost:3000/users/sign_up">Sign Up</a></li>
            <li><a href="http://localhost:3000/users/sign_in">Login</a></li>
            <li><a href="http://localhost:3000/users/sign_out">Logout</a></li>
        </ul>
    </nav>
</header>